@font-face {
    font-family: "Suisse Intl";
    src: url("/SuisseIntl-FreeTrial/Web/WOFF2/SuisseIntlTrial-Regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Suisse Intl";
    src: url("/SuisseIntl-FreeTrial/Web/WOFF2/SuisseIntlTrial-RegularIt.woff2") format("woff2");
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Suisse Intl";
    src: url("/SuisseIntl-FreeTrial/Web/WOFF2/SuisseIntlTrial-Medium.woff2") format("woff2");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Suisse Intl";
    src: url("/SuisseIntl-FreeTrial/Web/WOFF2/SuisseIntlTrial-MediumIt.woff2") format("woff2");
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Suisse Intl";
    src: url("/SuisseIntl-FreeTrial/Web/WOFF2/SuisseIntlTrial-Semibold.woff2") format("woff2");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Suisse Intl";
    src: url("/SuisseIntl-FreeTrial/Web/WOFF2/SuisseIntlTrial-SemiboldIt.woff2") format("woff2");
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Suisse Intl";
    src: url("/SuisseIntl-FreeTrial/Web/WOFF2/SuisseIntlTrial-Bold.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Suisse Intl";
    src: url("/SuisseIntl-FreeTrial/Web/WOFF2/SuisseIntlTrial-BoldIt.woff2") format("woff2");
    font-weight: 700;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Suisse Intl";
    src: url("/SuisseIntl-FreeTrial/Web/WOFF2/SuisseIntlTrial-Light.woff2") format("woff2");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Suisse Intl";
    src: url("/SuisseIntl-FreeTrial/Web/WOFF2/SuisseIntlTrial-LightIt.woff2") format("woff2");
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}
