/*--------------------------------------------------------------
## Header Styling
--------------------------------------------------------------*/

.circle {
    height: 10px;
    backdrop-filter: blur(10px);
    background: rgba(0, 0, 0, 0.1);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 100%;
    width: 10px;
}
